// @import "./variables/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Libre+Barcode+128+Text&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    background-color: $primary-color;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    font-family: 'Major Mono Display', monospace;
    text-decoration: none;
    color: white;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 2px;
        width: 0;
        background-color: $quaternary-color;
        transition: width 0.3s;
    }

    &:hover::after {
        width: 100%;
    }
}